body {
    /* position: fixed; */

    margin: 0px;
    overflow: hidden;

    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */

    z-index: 1;
}

#prereq {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;

    background-color: rgb(85, 85, 85);
}

#prereq > h1 {
    color: white;
}

#loading-screen {
    position: fixed;

    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 50;

    color: white;
    background-color: lightblue;
}

.invisible {
    display: none !important;
    opacity: 0 !important;
}

#embeddedScene {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    z-index: 10;
}