body {
    margin: 0px;
    overflow: hidden;

    font-family: 'Noto Sans JP', sans-serif;

    z-index: 1;
}

#left-star {
    position: fixed;

    max-width: 30%;
    top: 5%;
    left: 5%;

    -webkit-transform: rotate(-30deg) scaleX(0.6);

        -ms-transform: rotate(-30deg) scaleX(0.6);

            transform: rotate(-30deg) scaleX(0.6);
}

#right-star {
    position: fixed;
    
    max-width: 25%;
    top: 20%;
    right: 8%;

    -webkit-transform: rotate(30deg) scale(0.8) scaleX(0.6);

        -ms-transform: rotate(30deg) scale(0.8) scaleX(0.6);

            transform: rotate(30deg) scale(0.8) scaleX(0.6);
}

#prereq {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    z-index: 100;

    background-color: #232323;
}

#prereq > h1 {
    color: white;
}

#inapp-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#inapp-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 68%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#play-button {
    position: absolute;

    -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    max-width: 40%;

    -webkit-filter: drop-shadow(10px 8px 5px rgb(0, 0, 0));
    filter: drop-shadow(10px 8px 5px rgb(0, 0, 0));
}

#launch-text {
    font-weight: bold;
    font-size: 8vw;
    letter-spacing: .4em;
    margin-right: -.4em;

    text-shadow: 4px 4px 10px #000000;
}

#different-browser-text {
    font-weight: 500;
    font-size: 4vw;

    letter-spacing: 0.2em;
    margin-right: -0.2em;

    text-shadow: 4px 4px 5x #000000;
}

#unaccessible-media-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#media-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#access-text {
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: .8em;
    margin-right: -.8em;

    text-shadow: 4px 4px 10px #000000;
}

#access-description-text {
    font-weight: 500;
    font-size: 4vw;

    letter-spacing: 0.2em;
    margin-right: -0.2em;
}

#allowance-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#allowance-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#allowance-text {
    font-weight: bold;
    font-size: 8vw;
    letter-spacing: .2em;
    margin-right: -.2em;

    text-shadow: 4px 4px 10px #000000;
}

#desktop-screen {
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: .8em;
    margin-right: -.8em;

    text-shadow: 4px 4px 10px #000000;
}

#desktop-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);

    color: white;
}

#desktop-text {
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: .2em;
    margin-right: -.2em;

    text-shadow: 4px 4px 10px #000000;
}

#video-wrap {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 70;

    color: white;
    background-color: #232323;
}

#video-screen {
    position: relative;

    width: 100%;
    height: 100%;
}

.closed {
    -webkit-transform: translate(100%);
        -ms-transform: translate(100%);
            transform: translate(100%);
}

#vs-video {
    position: absolute;
    
    -o-object-fit: fill;
    
       object-fit: fill;
    width: 100%;
    height: 100%;

    z-index: 71;
}

#vs-close-button {
    position: absolute;

    top: 0%;
    left: 10%;
    
    max-width: 16%;

    z-index: 72;

    -webkit-transform: translateX(-50%) rotate(45deg) scale(0.5, 0.5);

        -ms-transform: translateX(-50%) rotate(45deg) scale(0.5, 0.5);

            transform: translateX(-50%) rotate(45deg) scale(0.5, 0.5);

}

#scan-overlay-image {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 80vw;
    height: auto;

    -webkit-transform: translateY(-50%) translateX(-50%);

        -ms-transform: translateY(-50%) translateX(-50%);

            transform: translateY(-50%) translateX(-50%);

    opacity: .5;

    z-index: 50;
}

#loading-screen {
    position: fixed;

    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    z-index: 90;

    color: white;
    background-color: #232323;
}

.invisible {
    display: none !important;
    opacity: 0 !important;
}

.antihighlight {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
  }

/* https://github.com/lukehaas/css-loaders */
/*******************************************/
.loader {
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

  @-webkit-keyframes load4 {
    0%,
    100% {
      -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
              box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
              box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
              box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
              box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
              box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
              box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
              box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
              box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
/*******************************************/