/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    /* position: fixed; */

    margin: 0px;
    overflow: hidden;

    font-family: 'Noto Sans JP', sans-serif;

    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */

    z-index: 1;
}

#left-star {
    position: fixed;

    max-width: 30%;
    top: 5%;
    left: 5%;

    -webkit-transform: rotate(-30deg) scaleX(0.6);

        -ms-transform: rotate(-30deg) scaleX(0.6);

            transform: rotate(-30deg) scaleX(0.6);
}

#right-star {
    position: fixed;
    
    max-width: 25%;
    top: 20%;
    right: 8%;

    -webkit-transform: rotate(30deg) scale(0.8) scaleX(0.6);

        -ms-transform: rotate(30deg) scale(0.8) scaleX(0.6);

            transform: rotate(30deg) scale(0.8) scaleX(0.6);
}

#prereq {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    z-index: 100;

    background-color: #232323;
}

#prereq > h1 {
    color: white;
}

#inapp-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#inapp-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 68%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#play-button {
    position: absolute;

    -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    max-width: 40%;

    -webkit-filter: drop-shadow(10px 8px 5px rgb(0, 0, 0));
    filter: drop-shadow(10px 8px 5px rgb(0, 0, 0));
}

#launch-text {
    font-weight: bold;
    font-size: 8vw;
    letter-spacing: .8em;
    margin-right: -.8em;

    text-shadow: 4px 4px 10px #000000;
}

#different-browser-text {
    font-weight: 500;
    font-size: 4vw;

    letter-spacing: 0.2em;
    margin-right: -0.2em;

    text-shadow: 4px 4px 5x #000000;
}

#unaccessible-media-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#media-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#access-text {
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: .8em;
    margin-right: -.8em;

    text-shadow: 4px 4px 10px #000000;
}

#access-description-text {
    font-weight: 500;
    font-size: 4vw;

    letter-spacing: 0.2em;
    margin-right: -0.2em;
}

#allowance-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#allowance-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#allowance-text {
    font-weight: bold;
    font-size: 8vw;
    letter-spacing: .2em;
    margin-right: -.2em;

    text-shadow: 4px 4px 10px #000000;
}

#desktop-screen {
    position: fixed;

    top: 0%;
    right: 0px;
    width: 100%;
    height: 100%;

    color: white;
}

#desktop-text-area {
    margin: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
}

#desktop-text {
    font-weight: bold;
    font-size: 8vw;
    letter-spacing: .2em;
    margin-right: -.2em;

    text-shadow: 4px 4px 10px #000000;
}

#video-screen {
    transition: all .5s ease-in-out;

    position: fixed;

    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    z-index: 30;

    color: white;
    background-color: #232323;
}

.closed {
    transform: translate(100%);
}

#vs-close-button {
    position: relative;

    top: 0%;
    left: 0%;
    
    max-width: 25%;

    transform: rotate(45deg) scale(0.5, 0.5) translate(-50%, -50%);

}

#loading-screen {
    position: fixed;

    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    z-index: 50;

    color: white;
    background-color: #232323;
}

.invisible {
    display: none !important;
    opacity: 0 !important;
}

#embeddedScene {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    z-index: 10;
}