html {
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

canvas {
}

.antihighlight {
  -webkit-user-select: none;
  -moz-user-select: none;
}

#navigation {
  position: relative;
  grid-area: navigation;
  background-color: black;
  -webkit-box-shadow: 6px 0px 10px 5px rgba(59, 59, 59, 0.5);
  height: 100vh;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#navigation > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
}

#simarea {
  position: relative;
  position: relative;
  grid-area: simarea;
  background-color: #ffffff;
  z-index: 0;
}

#Logo-area {
  background-color: #ffffff;
  color: black;
  font-size: 24px;
}

#About-area {
  background-color: #5fcde4;
}

#Contact-area {
  background-color: #639bff;
}

#Accounts-area {
  background-color: #5b6ee1;
}

.selectable {
  cursor: pointer;
}

.option {
  display: inline-block;
  position: relative;
}

/* Add a basic element */
.option::before {
  content: "";
  /* Without the parent being set to relative, this would set itself relative to the page */
  position: absolute;
  width: 95%;
  /* Remove the width */
  transform: scaleX(0) translateY(5px);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #222034c0;
  /* return to scale 0 from bottom right */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.option:hover::before {
  transform: scaleX(1) translateY(5px);
  /* scale from the bottom left */
  transform-origin: bottom left;
}

.site-wrap {
  margin: 0;
  border: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "navigation simarea";
}

.button {
  border: none;
  width: 100px;
  height: 100px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.icon {
  position: absolute;
  image-rendering: crisp-edges;
  top: 10%;
  left: 12%;
  width: 75%;
  vertical-align: middle;
  z-index: 1;
}

.shadow {
  position: absolute;
  image-rendering: crisp-edges;
  top: 14%;
  left: 12%;
  width: 75%;
  vertical-align: middle;
  z-index: 0;
}

.button > * {
  transition: all 0.3s ease-in-out;
}

.button.hovered > :first-child {
  transform: translateY(-10%) scale(1.1);
}

.button.hovered > :last-child {
  transform: scale(1.1);
}

.button.hovered > :first-child.clicked {
  transform: translateY(0%) scale(0.8);
}

.button.hovered > :last-child.clicked {
  transform: scale(0.8);
}
