html {
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  margin: 0px;
}

.antihighlight {
  -webkit-user-select: none;
  -moz-user-select: none;
}

#Navigation {
  position: relative;
  grid-area: navigation;
  background-color: black;
  -webkit-box-shadow: 6px 0px 10px 5px rgba(59, 59, 59, 0.5);
  height: 100vh;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#Navigation > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

#Simarea {
  position: relative;
  grid-area: simarea;
  background-color: #ffffff;
  min-width: 500px;
  min-height: 500px;
  z-index: 0;
}

#Logo-area {
  position: relative;
  background-color: #ffffff;
  color: black;
  font-size: 24px;
}

#Logo-area > * {
  transform: translateY(-100%);
}

#Title-subtext {
  font-size: 16px;
  position: absolute;
  transform-origin: bottom left;
  transform: translateX(1%) translateY(200%);
}

#About-area {
  background-color: #5fcde4;
}

#Contact-area {
  background-color: #639bff;
}

#Hobbies-area {
  background-color: #5b6ee1;
}

#Accounts-area {
  background-color: #4756ad;
}

.selectable {
  cursor: pointer;
}

.option {
  display: inline-block;
  position: relative;
  z-index: 3;
}

/* Add a basic element */
.option::after {
  content: "";
  /* Without the parent being set to relative, this would set itself relative to the page */
  position: absolute;
  z-index: -1;
  width: 103%;
  /* Remove the width */
  transform: scaleX(0) translateX(-1px);
  height: 25px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  /* return to scale 0 from bottom right */
  transform-origin: center;
  transition: all 0.25s ease-out;
}

.option:hover::after {
  transform: scaleX(1) translateX(-5px);
  background-color: #222034;
  /* scale from the bottom left */
  transform-origin: top;
}

.site-wrap {
  margin: 0;
  border: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "navigation simarea";
}

.button {
  border: none;
  width: 100px;
  height: 100px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.icon {
  position: absolute;
  image-rendering: crisp-edges;
  top: 10%;
  left: 12%;
  width: 75%;
  vertical-align: middle;
  z-index: 1;
}

.shadow {
  position: absolute;
  image-rendering: crisp-edges;
  top: 14%;
  left: 12%;
  width: 75%;
  vertical-align: middle;
  z-index: 0;
}

.button > * {
  transition: all 0.3s ease-in-out;
}

.button.hovered > :first-child {
  transform: translateY(-10%) scale(1.1);
}

.button.hovered > :last-child {
  transform: scale(1.1);
}

.button.hovered > :first-child.clicked {
  transform: translateY(0%) scale(0.8);
}

.button.hovered > :last-child.clicked {
  transform: scale(0.8);
}
